@*This is the default view, if we receive data in the viewbag, which means that previously we try to upload a new order and there is the result of the operation, otherwise only shows the form for upload a new order.*@
@{
    ViewBag.Title = Resources.Home.Title;
}

<br />

@*Validate if is data in the viewbag, if exist data then show the result in a panel.*@
@{
    if (ViewBag.Process != null && ViewBag.Process == "true")
    {
        @Html.Raw("<div class=\"row\" align=\"center\">" +
                    "<div class=\"alert alert-success alert-dismissible\" role=\"alert\" id=\"alert_EmptyGrid\">" +
                        Resources.Home.SuccessProcess + " " + ViewBag.Id +
                        "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">" +
                            "<span aria-hidden=\"true\">&times;</span>" +
                        "</button>" +
                    "</div>" +
                "</div>");
    }
    if (ViewBag.Process != null && ViewBag.Process == "false")
    {
        @Html.Raw("<div class=\"row\" align=\"center\">" +
                    "<div class=\"alert alert-danger alert-dismissible\" role=\"alert\" id=\"alert_EmptyGrid\">" +
                        Resources.Home.ErrorProcess +
                        "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">" +
                            "<span aria-hidden=\"true\">&times;</span>" +
                        "</button>" +
                    "</div>" +
                "</div>");
    }
}

@*Panel with a form for upload a new order. Two fields are required, the id of the client, and the file that correspond to the quotation*@
@using (Html.BeginForm("Create", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-lg-offset-2 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><h2 class="panel-title">@Resources.Home.Panel_Title</h2></div>
                    <div class="panel-body">

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <label for="inputdefault">@Resources.Home.ClientId</label>
                                <input class="form-control" name="idClient" id="idClient" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <b>@Resources.Home.File_Button_Label</b>
                                <input type="file" class="custom-file-input" name="postedFile">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="@Resources.Home.Button_Submit" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}